x64/Debug/ITM_Auto_SCAN.pdb
x64/Debug/ITM_Auto_SCAN.lib
x64/Debug/ITM_Auto_SCAN.ilk
x64/Debug/ITM_Auto_SCAN.exp
x64/Debug/ITM_Auto_SCAN.exe
ITM_Auto_SCAN/x64/Debug/qrc_MainWindow.obj
ITM_Auto_SCAN/x64/Debug/moc_MainWindow.obj
ITM_Auto_SCAN/x64/Debug/main.obj
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.log
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.Build.CppClean.log
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/ITM_Auto_SCAN.write.1u.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/ITM_Auto_SCAN.lastbuildstate
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/link.read.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/link.command.1.tlog
ITM_Auto_SCAN/x64/Debug/vc140.pdb
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/CL.write.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/CL.read.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/CL.command.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/custombuild.write.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/custombuild.read.1.tlog
ITM_Auto_SCAN/x64/Debug/MainWindow.obj
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/link.write.1.tlog
ITM_Auto_SCAN/x64/Debug/ITM_Auto_SCAN.tlog/custombuild.command.1.tlog
ITM_Auto_SCAN.VC.db
ITM_Auto_SCAN/lib/real_sense.lib
ITM_Auto_SCAN/x64/Debug/real_sense_grabber.obj
